.navbar {
    height: 100px;
    .wrapper {
        max-width: 1366px;
        margin: auto;
        border: 1px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        span {
            font-weight: bold;
        }
        .social {
            display: flex;
            gap: 10px;
            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}